div#main article > h1 { display: none; }

div.info, div.note {
    margin: 1em 0 !important;
    padding: 1.2em 2.0em 1.2em 2.5em !important;
    overflow: auto !important;
}

div.info {
  border: 1px solid #9eb6df;
  background: #e0efff no-repeat 0.7em 1.3em;
}

div.note {
  border: 1px solid #f7df92;
  background: #ffd no-repeat 0.7em 1.3em;
}

div.info div.title {
  padding-top: 0.1em;
  font-size: 90%;
  font-weight: bold;
}

div.note div.title {
  padding-top: 0.1em;
  font-size: 90%;
  font-weight: bold;
}

h2 a.toc-anchor, 
h3 a.toc-anchor, 
h4 a.toc-anchor, 
h5 a.toc-anchor, 
h6 a.toc-anchor {
   text-decoration: none;
   color: #eee;
   display: none;
}

h2:hover a.toc-anchor,
h3:hover a.toc-anchor, 
h4:hover a.toc-anchor, 
h5:hover a.toc-anchor, 
h6:hover a.toc-anchor {
   display: inline;
}
