div#main article table, div_main article th, div#main article td {
  border: 1px solid #e7e7e7;
  border-collapse: collapse;
  padding: 5px 10px;
}

div#main article th {
  background-color: #e7e7e7;
  border: 1px solid #c7c7c7;
  padding: 5px 10px;
}

div#main article > h1 { display: none; }

input.calc_input {
        margin: 0;
}

div.calculator ul {
  list-style-type: none;
  margin: 0;
}
div.calculator li {
  margin-top: 7px;
}

div#entry_info {
  color: red;
  float: right;
  z-index: 10;
  margin-right: 170px;
  padding-top: 8px;
  width: 350px;
  height: 50px;
}

div.info, div.note {
    margin: 1em 0 !important;
    padding: 1.2em 2.0em 1.2em 2.5em !important;
    overflow: auto !important;
}

div.info {
  border: 1px solid #9eb6df;
  background: #e0efff no-repeat 0.7em 1.3em;
}

div.note {
  border: 1px solid #f7df92;
  background: #ffd no-repeat 0.7em 1.3em;
}

div.info div.title {
  padding-top: 0.1em;
  font-size: 90%;
  font-weight: bold;
}

div.note div.title {
  padding-top: 0.1em;
  font-size: 90%;
  font-weight: bold;
}

h2 a.toc-anchor,
h3 a.toc-anchor,
h4 a.toc-anchor,
h5 a.toc-anchor,
h6 a.toc-anchor {
   text-decoration: none;
   color: #eee;
   display: none;
}

h2:hover a.toc-anchor,
h3:hover a.toc-anchor,
h4:hover a.toc-anchor,
h5:hover a.toc-anchor,
h6:hover a.toc-anchor {
   display: inline;
}

a#feedback-link {
  background-image: -moz-linear-gradient( center top, rgb(255,196,128) 0%, rgb(255,155,41) 80%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255,196,128)), color-stop(0.8, rgb(255,155,41)) );
  border: 1px solid #e89143;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #9d5e17;
  text-shadow: #ffb96b 1px 1px 1px;
  font-weight: bold;
  width: 90px;
  padding: 20px 4px 8px 8px;
  display: block;
  text-decoration: none;
  text-align: center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  position: fixed;
  top: 50%;
  left: -40px;
}

a#feedback-link:hover {
  margin-left: 4px;
}

a#github-ribbon {
  position: fixed;
  top: -5px;
  right: 5px;
  width: 150px;
  line-height: 1;
  padding: 8px 5px 5px;
  color: white;

  /* From colorzilla gradient generator */
  background: #444444; /* Old browsers */
  background: -moz-linear-gradient(top, #444444 0%, #666666 50%, #444444 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(50%,#666666), color-stop(100%,#444444)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #444444 0%,#666666 50%,#444444 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #444444 0%,#666666 50%,#444444 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #444444 0%,#666666 50%,#444444 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #444444 0%,#666666 50%,#444444 100%); /* W3C */

  text-shadow: #333 1px 1px 1px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px #949494;
  -moz-box-shadow: 0px 0px 10px #949494;
  box-shadow: 0px 0px 10px #949494;
  z-index: 1;
}

span.error_span {
  color: red;
  margin-left: 5px;
}

